@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
html {
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
}

body {
  background-image: url("/images/fond.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}
header {
  margin: 0 auto;
  text-align: center;
}

nav {
  align-items: center;
  background-color: #615b59d8;
  display: flex;
  height: 2em;
  justify-content: center;
  width: 100%;
}
header img {
  object-fit: contain;
  vertical-align: middle;
  width: 50%;
}

nav a {
  color: inherit;
  color: rgb(218, 217, 217);
  font-weight: bold;
  text-decoration: none;
}
nav a:hover,
nav a:focus {
  color: white;
}
nav ul {
  align-items: center;
  display: flex;
  gap: 5em;
  justify-content: center;
}
main {
  background-color: rgba(255, 255, 255, 0.89);
  border: 1px solid darkred;
  margin: 0 auto;
  max-width: 1024px;
  min-width: 600px;
  padding: 1em;
}

main h1 {
  font-size: 2em;
}

main#nouveaute p::first-letter,
main#classique > p::first-letter {
  color: darkred;
  font-size: 3em;
  text-transform: capitalize;
}

main#nouveaute p:last-child a {
  color: darkred;
  text-decoration: none;
}

main#contact form {
  margin-top: 2em;
  margin: 0 2em;
}
main#contact form fieldset {
  border-radius: 10px;
  border: 1px solid darkred;
  margin: 1em 0;
  padding: 1em;
  position: relative;
}

main#contact form fieldset legend {
  background-color: white;
  color: darkred;
  padding: 0 0.5em;
  position: absolute;
  top: -0.5em;
}

main#contact form fieldset#coordonnees p {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  padding: 0.5em;
}
main#contact form fieldset textarea {
  width: 100%;
}

main#contact form fieldset p {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0.5em;
}
main#contact form button {
  background-color: rgb(53, 52, 52);
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.5em 2em;
}

main#contact > p {
  color: gray;
  font-size: 1.3em;
  padding-top: 2em;
  padding: 1em 0;
  text-align: center;
}

main#classique table {
  margin: 1em auto;
}
main#classique table td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
main#classique table td img {
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);
  margin: 0 2em;
}
footer {
  text-align: center;
}
footer p {
  color: rgb(59, 59, 59);
  font-size: 1.3em;
  padding: 1em 0;
}

footer a {
  color: darkred;
  text-decoration: none;
}

footer#footerIndex {
  margin-top: 1em;
}
footer#footerIndex p:last-child {
  margin-top: 1em;
}
footer#footerIndex p {
  padding: 0 0;
}
footer#footerIndex h2 {
  font-size: 2em;
}

img#acceuil_img {
  width: 40%;
}
